@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700;900&display=swap);/* font */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  font-family: "Montserrat", sans-serif;
}

.visa {
  width: 100%;
  text-align: end;
  padding: 3px 0;
  background-color: #0C7CEC;
}
.visa span {
  font-size: 12px;
  color: #fff;
  margin-left: 50px;
}

.box-header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.box-header .header-logo img {
  width: 60px;
}
.box-header nav ul {
  display: flex;
}
.box-header nav ul li {
  list-style: none;
  margin: 0 10px;
}
.box-header nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  padding: 30px 0;
}
.box-header nav ul li.active a {
  color: #0C7CEC;
  font-weight: bold;
}
.box-header .search-header {
  display: flex;
  align-items: center;
  position: relative;
}
.box-header .search-header input {
  text-align: start;
  border: none;
  border-bottom: 2px solid #0C7CEC;
  font-size: 13px;
  padding: 3px 0;
}
.box-header .search-header i {
  position: absolute;
  right: 0;
  color: #757575;
  font-size: 15px;
}

.hero {
  width: 100%;
  height: 400px;
  background-image: url(../images/jumbotron.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.movies {
  width: 100%;
  background-color: #1c1c1c;
  position: relative;
}
.movies h2 {
  position: absolute;
  top: -22px;
  left: 170px;
  color: #fff;
  background-color: #0282f9;
  padding: 8px 15px;
}
.movies .box-movies {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}
.movies .box-movies .movie {
  position: relative;
  width: calc(25% - 40px);
  margin: 20px;
  cursor: pointer;
}
.movies .box-movies .movie img {
  width: 100%;
}
.movies .box-movies .description {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 20px;
  opacity: 0;
  transition: 0.5s;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.movies .box-movies .description:hover {
  opacity: 1;
}
.movies .box-movies .description::-webkit-scrollbar {
  display: none;
}
.movies .box-movies .description h3 {
  margin-bottom: 10px;
}
.movies .box-movies .description p {
  font-size: 12px;
  margin-bottom: 10px;
}
.movies .box-movies .description span {
  font-size: 13px;
}
.movies .load {
  width: 100%;
  display: flex;
  justify-content: center;
}
.movies .load button {
  border: none;
  color: #fff;
  background-color: #0282f9;
  padding: 8px 40px;
  margin: 20px 0;
  font-weight: bold;
  cursor: pointer;
}

.icons-address {
  width: 100%;
  background-color: #0282f9;
  padding: 30px 0;
}
.icons-address ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.icons-address ul li {
  list-style: none;
}
.icons-address ul li a {
  text-decoration: none;
}
.icons-address ul li a .image {
  display: inline-block;
  width: 50px;
  margin-right: 15px;
}
.icons-address ul li a .image img {
  vertical-align: middle;
  width: 100%;
}
.icons-address ul li a span {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
}
.icons-address ul li a .point {
  width: 35px;
}